@model ShareImmediate.ViewModels.LoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
    
}

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "frmLogin" }))
{
    @Html.HiddenFor(model => model.ReturnUrl)
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin: 30px;padding-left:3px;padding-top:10px;background-color: #ffffff;border: 1px solid black;opacity: 0.6;border-radius: 15px;">
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.UserName)
                    </div>
                </div>
                <div class="row" style="margin:10px">
                </div>
                <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="col-md-6" >
                            @Html.EditorFor(model => model.Password)
                        </div>
                  </div>
                <div class="row" style="margin:10px">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" value="Login" />
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

