@model ShareImmediate.ViewModels.GroupVM
@{
    ViewBag.Title = "Group";
    ViewBag.Message = Model.Message;
}
<h3>@ViewBag.Title</h3>


<script type="text/javascript" src="~/Scripts/bootstrap-multiselect.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-multiselect.css" />

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.GroupName, new { @class = "col-md-2 control-label" })
    </div>
                <div>
                    @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
                </div>
    <div>
        @Html.LabelFor(model => model.GroupMembers, htmlAttributes: new { @class = "control-label col-md-1" })
    </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(x => x.SelectedMembers, new MultiSelectList(Model.GroupMembers, "id", "name", Model.SelectedMembers), new { @class = "multiselect", multiple = "multiple" })
                </div>
                <input type="submit" value="CreateGroup" />
}


<script>

    $(document).ready(function () {
        $("#SelectedMembers").multiselect(
        {
            includeSelectAllOption: true,
            disableIfEmpty: true,
            maxHeight: 300,
            nonSelectedText: 'All Selected',
            selectAllText: 'Select All!',
            selectAllValue: 0,
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true,
            checkboxName: 'SelectedMembers[]'
        });
    });

</script>


